//registry.npmjs.org/:_authToken=0ac5af43-7b07-462f-9156-fd7f5afd7842
package-lock=true
//host.docker.internal:4873/:_authToken="NKkb08sVVuP+xtqcNNYdVNCAaQzREUsUBsJwV2Tam1I="
registry=http://host.docker.internal:4873/
